:root {
  --white: hsl(0, 0%, 93%);
  --blue: hsl(246, 80%, 60%);
  --light-orange: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red: hsl(348, 100%, 68%);
  --line-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --ff-default: "Rubik", sans-serif;
  --fs-small: 1.3rem;
  --fs-normal: 1.8rem;
  --fs-med: 2.6rem;
  --fs-big: 3rem;
  --fs-huge: 4rem;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --border-radius-default: 1.5rem;
  --padding-inner: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: var(--fs-normal);
  font-family: var(--ff-default);
  font-weight: var(--fw-400);
  line-height: 1.5;
  color: #eee;
  background-color: var(--very-dark-blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: var(--fw-300);
  font-size: var(--fs-med);
}
@media only screen and (min-width: 1000px) {
  h1 {
    padding: 2.5rem 0 4rem 0;
    line-height: 1.3;
    font-size: var(--fs-huge);
  }
}

h1 > span {
  display: block;
  font-size: var(--fs-small);
  font-weight: var(--fw-400);
  color: var(--pale-blue);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.card {
  border-radius: var(--border-radius-default);
}

.stats__list {
  padding: var(--padding-inner);
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1000px) {
  .stats__list {
    flex-direction: column;
  }
}
.stats__item {
  list-style: none;
}
@media only screen and (min-width: 1000px) {
  .stats__item {
    margin: 0.8rem 0;
  }
}
.stats__link {
  color: var(--desaturated-blue);
  text-decoration: none;
  transform: all 0.2s;
}
.stats__link:hover {
  color: var(--white);
}
.stats__link:active {
  color: var(--white);
}

.active-link {
  color: var(--white);
}

.report-card {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: var(--border-radius-default);
}
.report-card--light-orange {
  background-color: var(--light-orange);
}
.report-card--soft-blue {
  background-color: var(--soft-blue);
}
.report-card--light-red {
  background-color: var(--light-red);
}
.report-card--line-green {
  background-color: var(--line-green);
}
.report-card--violet {
  background-color: var(--violet);
}
.report-card--soft-orange {
  background-color: var(--soft-orange);
}
.report-card__icon {
  height: 6.5rem;
  position: absolute;
  top: -0.7rem;
  right: 1.2rem;
  z-index: 1;
}
.report-card__stat {
  border-radius: var(--border-radius-default);
  background-color: var(--dark-blue);
  transition: all 0.2s;
  margin-top: 3.5rem;
  position: relative;
  z-index: 2;
  padding: var(--padding-inner);
  height: 100%;
}
.report-card__stat:hover {
  background-color: var(--desaturated-blue);
}
.report-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.report-card__title {
  font-size: var(--fs-normal);
  font-weight: var(--fs-400);
}
.report-card__elipsis-icon {
  cursor: pointer;
  fill: var(--pale-blue);
  transition: all 0.2s;
}
.report-card__elipsis-icon:hover {
  fill: var(--white);
}
.report-card__hours {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 1000px) {
  .report-card__hours {
    flex-direction: column;
    align-items: flex-start;
  }
}
.report-card__hours-now {
  font-size: var(--fs-big);
  font-weight: var(--fw-300);
}
@media only screen and (min-width: 1000px) {
  .report-card__hours-now {
    font-size: var(--fs-huge);
    padding: 1.5rem 0 0.5rem 0;
  }
}
.report-card__hours-before {
  color: var(--pale-blue);
  font-size: var(--fs-small);
}

.user-profile {
  background-color: var(--dark-blue);
}
.user-profile__info {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  padding: var(--padding-inner);
  border-radius: var(--border-radius-default);
}
@media only screen and (min-width: 1000px) {
  .user-profile__info {
    flex-direction: column;
    align-items: flex-start;
  }
}
.user-profile__photo-container {
  height: 7rem;
  margin-right: 1.5rem;
}
.user-profile__img {
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.dashboard {
  width: 40rem;
  max-width: 90%;
  display: grid;
  gap: 2rem;
  margin: 8rem 0;
}
@media only screen and (min-width: 1000px) {
  .dashboard {
    width: 100rem;
    max-width: 90%;
    grid-template-columns: 1fr 3fr;
  }
}

.stats {
  display: grid;
  row-gap: 2rem;
}
@media only screen and (min-width: 1000px) {
  .stats {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
